.App {
  text-align: center;
}


html,
body {
  height: 100%;
  color: #000000;
}

#root {
  height: 100%;
}


.bg-image {
  /* background-color: #ff9494; */
  background-image: url('./assets/images/main-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-body {
  padding-top: 100px;
}

.right-1{
  right: 1rem !important;
}

.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  /* Slightly transparent background */
  z-index: 1050;
  /* Ensure it's above other content */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-page .navbar-nav {
  text-align: center;
}

.full-page .nav-item {
  margin: 15px 0;
}

.full-page .btn-close {
  font-size: 1.5rem;
  color: black;
}

.fw-700 {
  font-weight: 700;
}

.nav-link {
  font-size: 0.875rem !important;
}

.nav-active {
  font-weight: 500;
  color: var(--bs-navbar-active-color);
}


.navbar-toggler {
  border: 0px !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.bird {
  opacity: 0.85;
  position: absolute;
  left: 0rem;
  top: -1rem;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
}


@keyframes fly {
  0% {
    left: -10rem;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    left: 5rem;
    opacity: 0;
  }
}

.bird-1 {
  width: 1rem;
  height: 1rem;
  top: 0rem;
  left: 3rem;
}

.bird-2 {
  width: 1.5rem;
  height: 1.5rem;
  top: 0rem;
  left: 5rem;
}

.bird-3 {
  width: 2.5rem;
  height: 2.5rem;
  top: 0rem;
  left: -1rem;
}

.bird-4 {
  width: 1rem;
  height: 1rem;
  top: 0rem;
  left: -4rem;
}


.balloon {
  width: 11.5rem;
  bottom: 4rem;
  right: 1rem;
  animation: float 3s infinite ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
}

.bike {
  width: 0%;
  bottom: 0;
  right: 35%;
  /* animation: float 3s infinite ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate; */
}

@keyframes float {
  0%{
    bottom: 4rem;
  }
  50%{
    bottom: 3rem;
  }
  100%{
    bottom: 4rem;
  }
}



@media screen and (min-width: 768px) {
  .header-body {
    padding-top: 100px;
  }


  .balloon {
    width: 15.5rem;
    bottom: 6rem;
    right: 15rem;
  }

  .bike {
    width: 28%;
    bottom: 0;
    right: 35%;
  }

}